<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">

                            




 <div class="container" style="font-size: 14px;" >
            

    <section class="mt-0 pt-0 d-flex justify-content-center loginForm" >
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-9 pt-0 mt-4">
            <div class="row pb-2 p-5" style="background-color:  #eeeeee; border-radius: 6px; box-shadow:  0px 0px 20px 2px  rgb(187, 187, 187);">
                <form class="pt-0" enctype="multipart/form-data" id="addProduct" action="/admin/addNewProduct" method="POST">
                
                    <h3 class="text-center loginTitle mb-2">Add new product</h3>
                    {{#if pErr}}
                    <p  class="text-danger text-center mt-1">{{pErr}}</p>
                    {{/if}}
                    <div class="row">

                    <div class=" col-lg-6">

                        <label class="" style="font-size: ;">Product Name</label>
                        <input type="text" class="form-control text"  name="productName" >
                        
                    </div>
                    <div class=" col-lg-6">

                        <label class="">Brand name</label>
                        <select class="form-select" style="padding: 6px;" name="brand" id="inputGroupSelect01">
                                <option value="">Choose...</option>
                                {{#each brandData}}
                                <option value="{{this.brandName}}">{{this.brandName}}</option>
                                {{/each}}
                                
                        </select>

                    </div>
                   </div>
                    <div class="row mt-1">
                        <div class="col-lg-6">
                            <label class="">Select Category</label>
                            <select class="form-select" style="padding: 6px;" name="category" id="category" onchange='catChange()'>
                                <option value="">Choose...</option>
                                {{#each catData}}
                                    <option value="{{this.category}}">{{this.category}}</option>
                                {{/each}}
                               
                            </select>

                        </div>
                        <div class="col-lg-6">
                            <label class="">Select SubCategory</label>
                            <select class="form-select" style="padding: 6px;" name="subcategory" id="subcategory" onchange="sizeget()">
                                <option value="">Choose...</option>
                                
                                
                            </select>
                        </div>

                    </div>
                    
                    <div class="row mt-1">
                        <div class="col-12">
                            <label class="">Discription</label>
                            <textarea  class="form-control" rows="3" id="discription"  name="discription" style="resize: none;" ></textarea>

                        </div>

                    </div>

                    <div class="row mt-1">

                        <div class="col-3 ">
                            <label class="">Select Size</label>
                            <select class="form-select" style="padding: 6px;" name="sizes" id="Psizes">
                                <option value="">Choose...size</option>
                            </select>

                        </div>
                        <div class="col-2">

                            <label class="">Color</label>
                            <input type="text" class="form-control"  name="color" >

                        </div>
                        <div class="col-5">
                            <div class="row">

                            <div class="col-8">

                            <label class="" >landing cost</label>
                            <input type="text" class="form-control"  name="landingcost" >
                            </div>
                            <div class="col-4">

                                <label class="">MRP</label>
                                <input type="text" class="form-control"  name="mrp" >

                            </div>
                            </div>

                        </div>
                        <div class="col-2">

                            <label class="">Quantity</label>
                            <input type="text" class="form-control"  name="quantity" >

                        </div>


                    </div>

                    <div class="row"> 
                        <div class="col-lg-4 text-center">

                            <div class="mt-5">
                            <label for="" style="font-weight: 700;">Image 1</label>
                            <div class="col-12">
                            <div id="image-box" style="width: 250px; height: 250px; display: none;"></div>
                            <button class="btn btn-primary mt-3" type="button" style="display: none;"
                                id="crop-btn">Crop</button>
                            </div>

                            <img src="" alt="" style="width: 100px; height:auto ; " id="imgview1">
                            {{!-- <div id="preview1"></div> --}}
                            <input type="file" name="image1" id="file1" style="padding-top: 5.7px;" class="form-control"
                                onchange="return fileValidation1()">
                            </div>  

                        </div>
                        <div class="col-lg-4 text-center">

                            <div class="mt-5">
                            <label for="" style="font-weight: 700;">Image 2</label>
                            <div class="col-12">
                            <div id="image-box2" style="width: 250px; height: 250px; display: none;"></div>
                            <button class="btn btn-primary mt-3" type="button" style="display: none;"
                                id="crop-btn2">Crop</button>
                            </div>

                            <img src="" alt="" style="width: 100px; height:auto ; " id="imgview2">
                            {{!-- <div id="preview1"></div> --}}
                            <input type="file" name="image2" id="file2" style="padding-top: 5.7px;" class="form-control"
                                onchange="return fileValidation2()">
                            </div>
                        </div>

                        <div class="col-lg-4 text-center">

                            <div class="mt-5">
                            <label for="" style="font-weight: 700;">Image 3</label>
                            <div class="col-12">
                            <div id="image-box3" style="width: 250px; height: 250px; display: none;"></div>
                            <button class="btn btn-primary mt-3" type="button" style="display: none;"
                                id="crop-btn3">Crop</button>
                            </div>

                            <img src="" alt="" style="width: 100px; height:auto ; " id="imgview3">
                            {{!-- <div id="preview1"></div> --}}
                            <input type="file" name="image3" id="file3" style="padding-top: 5.7px;" class="form-control"
                                onchange="return fileValidation3()">
                            </div>
                        </div>
                         

                    </div>
                    <div class="row">

                        <div class="col-12  d-flex justify-content-center">

                        <div class="col-4 text-center">
                           


                            <div class="mt-5">
                            <label for="form-label" style="font-weight: 700;">Image 4</label>
                            <div class="col-12">
                            <div id="image-box4" style="width: 250px; height: 250px; display: none;"></div>
                            <button class="btn btn-primary mt-3" type="button" style="display: none;"
                                id="crop-btn4">Crop</button>
                            </div>

                            <img src="" alt="" style="width: 100px; height:auto ; " id="imgview4">
                            {{!-- <div id="preview1"></div> --}}
                            <input type="file" name="image4" id="file4" style="padding-top: 5.7px;" class="form-control"
                                onchange="return fileValidation4()">
                            </div>
                            

                        </div>
                        </div>

                            


                    </div>
                   <div class="row">

                    <div class="cl-lg-4 text-center mb-0 d-flex justify-content-center">
                        <button id="confirm-btn" type="submit" class="btn btn-primary " style="background-color: blue; margin-top:20px; width: 80px">Add</button>
                    </div>
                    </div>
                </form>
                
            </div>
        </div>
    </section>

   
   
    </div>
    </div>
    
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="/javascripts/addProduct.js"></script>


            

            

     
        


  
  

