

 <div class="container" style="font-size: 14px;" >
            <h1 class="text-center">Brand Management</h1>

            <section class="mt-0 pt-0 d-flex justify-content-center loginForm" >
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-5 pt-0 mt-4">
            <div class="row pb-2 p-5" style="background-color: rgb(222, 221, 221); border-radius: 6px;">
                <form class="pt-0" enctype="multipart/form-data" id="add-Barnd" action="/admin/addNewBrand" method="POST">
                
                   <h3 class="text-center loginTitle">Add new Brand</h3>
                   {{#if brandErr}}
                   <p  class="text-danger text-center mt-1">{{brandErr}}</p>
                   {{/if}}
                   <div class="">
                        <label class="form-label">Brand name</label>
                        <input type="text" class="form-control"  name="brandName" >
                        {{!-- <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div> --}}
                    </div>
                    <div class="form group">

                    </div>
                    <div class="">
                        <label  class="form-label">Brand Symbol</label>
                        <img src="" style="display:none;  height:100px;" id="imgView" alt="">
                        <br>
                        <input type="file" class="form-control p-3"  name="brandSymbol" style="width: 100px;"
                        accept="image/*" onchange="viewSymbel(event)">
                    </div>
                    <div class="cl-lg-4 text-center mb-0">
                        <button type="submit" class="btn btn-primary loginFormButton">Add</button>
                    </div>
                </form>
                
            </div>
        </div>
    </section>

    <div class="col-12 p-4 mt-4" style="background-color: rgb(222, 221, 221); border-radius:4px">

    
    <table id="categoryTable" class="table table-striped text-center" style="width:100%; font-size:15px !important;">
        <thead style="font-size: 15px;">
            <tr >
                <th>Index</th>
                <th>Brnd Symbol</th>
                <th>Brand Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
        <tr>
            <td>{{@index}}</td>
            <td><img src="/images/brandSymbols/{{this._id}}.png" width="50px" height="50px" alt=""></td>
           <td>
                {{this.brandName}}
                
            </td>
            <td>

                 <a class="btn" onclick="deleteBrand('{{this._id}}')"><i class="fas fa-trash text-danger"></i></a>

            </td>
       </tr>
        {{/each}}
        </tbody>
    </table>
    </div> 
   
    </div>
    </div>
    
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

      $(document).ready(function() {

      $('#categoryTable1').DataTable(); 

    } )

    function deleteBrand(id){
    {{!-- console.log('hhh') --}}
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url:"/admin/deleteBrand",
                method:"post",
                data:{brandId:id},
                success:(result)=>{
                    if(result.status){
                     swal("category deleted!", {
                         icon: "success",
                       });
                       location.href="/admin/brandmanagement"
                      
         
                    }
                }
                
            })
      }
    }
    )
    };
    

</script>


    