<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.jqueryui.min.css">   

<div class="container" style="font-size: 14px;" >
            

    <section class="mt-0 pt-0 d-flex justify-content-center loginForm" >
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-5 pt-0 mt-4">
            <div class="row pb-1 p-3" style="background-color: rgb(238, 238, 238); border-radius: 6px; box-shadow:  0px 0px 20px 2px  rgb(187, 187, 187);">
                <form class="pt-0" id="addCategoryFrom" action="/admin/addNewCategory" method="POST">
                
                   <h3 class="text-center loginTitle">Add new category</h3>
                   {{#if Err}}
                   <p  class="text-danger text-center mt-1">{{Err}}</p>
                   {{/if}}
                   <div class="">
                        <label class="">Catagory</label>
                        <input type="text" class="form-control"  name="category" >
                        {{!-- <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div> --}}
                    </div>
                    <div class="mt-2">
                        <label  class="">Sub Category</label>
                        <input type="text" class="form-control"  name="subcategory">
                    </div>
                    <div class="cl-lg-4 text-center mt-3 mb-0">
                        <button type="submit" class="btn btn-primary loginFormButton" style="width: 80px;">Add</button>
                    </div>
                </form>
                
            </div>
        </div>
    </section>

    <div class="col-12 p-4 mt-4" style="background-color: #f9f9fa; border-radius:4px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">

    
    <table id="categoryTable" class="display text-center" style="width:100%; font-size:15px !important;">
        <thead style="font-size: 15px;">
            <tr >
                <th>Index</th>
                <th>Catergory</th>
                <th>Sub Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each catData}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.category}}</td>
            
            
            <td>
                
                {{#each subcategory}}

            

                   <dl>
                       {{this}}<a class="btn" onclick="deleteSubCategory('{{../this.category}}','{{this}}')"><i class="fas fa-trash text-danger"></i></a>
                   </dl>

               
                

                {{/each}}
                
                
            </td>
            <td>

                 <a class="btn" onclick="deleteCategory('{{this.category}}')"  ><i class="fas fa-trash text-danger"></i></a>

            </td>
            
            
        </tr>
        {{/each}}
        </tbody>
        
        

    </table>
    </div>
   
    </div>
    </div>
    
</main>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script type="text/javascript">


    $(document).ready(function() {

      $('#categoryTable1').DataTable(); 

    } )

    $('#addCategoryFrom').validate({
        
        rules:{
            category:{
                required:true
            },
            subcategory:{
                required:true
            }
        }

    })
  
    
    function deleteCategory(cat){
    console.log('hhh')
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url:"/admin/delete-category",
                method:"post",
                data:{category:cat},
                success:(result)=>{
                    if(result.status){
                     swal("category deleted!", {
                         icon: "success",
                       });
                       location.href="/admin/categoryManagement"
                      
         
                    }
                }
                
            })
      }
    }
    )
    };
    function deleteSubCategory(cat,subcat){
    console.log('hhh')
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url:"/admin/delete-subcategory",
                method:"post",
                data:{category:cat,subcategory:subcat},
                success:(result)=>{
                    if(result.status){
                     swal("subcategory deleted!", {
                         icon: "success",
                       });
                       location.href="/admin/categoryManagement"
                      
         
                    }
                }
                
            })
      }
    }
    )
    }

</script>

    

   
        
        
       


