<section class="mt-0 pt-0 d-flex justify-content-center loginForm" >
    <div class="container cl-10 col-sm-8 col-md-6 col-lg-5 pt-0 mt-4">
        <div class="row pb-2 p-5" style="background-color: rgb(222, 221, 221); border-radius: 6px;">
            {{#if response}}
            <form class="pt-0" id="catOffer" action="/admin/updateCatOffer1?cafOfferId={{response._id}}&category={{response.category}}" method="POST">
                <h3 class="text-center loginTitle">Edit Category Offer</h3>
                {{#if sameOfferErr}}
                <div class="d-flex justify-content-center">

                    <p class="text-danger">Offer already available for this cobination</p>
                </div>

                {{/if}}
                <div class="row">

                    <div class="col-lg-12 pt-1">
                        <label class="">Changing offer of category : {{response.category}}</label>
                        

                    </div>
                    {{!-- <div class="col-lg-12 pt-1">
                            <label class="">Select SubCategory</label>
                            <select class="form-select" style="padding: 6px;" name="subcategory" id="subcategory" >
                                <option value="">Choose...</option>
                            </select>
                    </div> --}}
                </div>
                <div class="row pt-1">

                    <div class="col-6">

                        <label for="startingDate">Starting date</label>
                        <input type="date" id="startingDate" name="startingDate" value="{{response.startingDate}}" style="padding: 6px; border-radius: 4px; border: 1px solid #ced4da; width:100%">
                        
                    </div>

                    
                    <div class="col-6">

                        <label for="expairyDate">Expairy date</label>
                        <input type="date" id="expairyDate" name="expairyDate" value="{{response.expairyDate}}" style="padding: 6px; border-radius: 4px; border: 1px solid #ced4da; width:100%">
                        
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-6">

                        <label  class="">Offer in Percentege</label>
                        <input type="text" class="form-control" value="{{response.offer}}"  id="offer" name="offer">

                    </div>
                </div>
                        
                <div class="cl-lg-4 text-center mb-0 mt-4">

                    <button type="submit" class="btn btn-primary loginFormButton" style="width: 90px;">Add</button>

                </div>
            </form>
            {{/if}}
        </div>
    </div>
</section>
