 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <div class="container col-12" >
        <h1>Ordered Products</h1>
        <div class="col-12 p-4 mt-4" style="background-color: rgb(222, 221, 221); border-radius:4px">
        <table id="categoryTable1" class="table table-striped" style=" width:100%; font-size:15px !important;">
        <thead style="font-size: 15px;">
            <tr >
                <th>Index</th>
                <th>Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Mrp</th>
                <th>Total</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each response}}
        <tr>
            <td>{{@index}}</td>
            
            <td>{{this.productCore.productName}}</td>
            
            <td> 
                     <img src="/images/product/productvarients/{{this.products._id}}_1.png" width="70px" height="70px" alt="">
            </td>
            
            <td>{{this.cartItems.quantity}}</td>
            <td>{{this.products.mrp}}</td>
            <td>
                
               {{this.cartItems.subTotal}}
               
            </td>
            <td>
               <div class="dropdown" style="width: 150px;">
                            <a class="btn btn-secondary dropdown-toggle" style="width: 150px;" href="#" role="button" id="{{this.products._id}}" data-bs-toggle="dropdown" aria-expanded="false">
                                {{this.cartItems.orderStatus}}
                            </a>

                            <ul class="dropdown-menu"  aria-labelledby="dropdownMenuLink">
                                
                                <li><a class="dropdown-item" onclick="change('placed','{{this.products._id}}','{{this._id}}','{{this.cartItems.quantity}}')"  >placed</a></li>
                                <li><a class="dropdown-item" onclick="change('shipped','{{this.products._id}}','{{this._id}}','{{this.cartItems.quantity}}')"  >Shipped</a></li>
                                <li><a class="dropdown-item" onclick="change('Canceled','{{this.products._id}}','{{this._id}}','{{this.cartItems.quantity}}')" >Canceled</a></li>
                                <li><a class="dropdown-item" onclick="change('Delivered','{{this.products._id}}','{{this._id}}','{{this.cartItems.quantity}}')" >Delivered</a></li>

                            </ul>
                        </div>

            </td>
            
            
        </tr>
        {{/each}}
        </tbody>
        
        

    </table>
    </div>    

    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
     $(document).ready(function() {

      $('#categoryTable1').DataTable(); 

    } )

    function change(value,productId,orderId,quantity){
        
        let status = document.getElementById(productId).innerHTML

        


 

        $.ajax({
            
                url:'/admin/updateOrderStatus',
                method:'post',
                data:{orderStatus:value,
                        productId:productId,
                        orderId:orderId,
                        quantity:quantity},
                success:(response)=>{

                    if(response.valid){
                            
                        document.getElementById(productId).innerHTML = value;

                        Swal.fire({
                            icon: 'success',
                            title: 'Done',
                            text: 'Order status changed',
                        })

                    }else if(response.usercanceld){

                        Swal.fire({
                            icon: 'error',
                            title: 'Sorry',
                            text: 'This product is Canceled by user',
                        })

                    }
                    else if(response.canceled){

                        Swal.fire({
                            icon: 'error',
                            title: 'Sorry',
                            text: 'This product is Canceled',
                        })

                    }
                    else if(response.delivered){

                        Swal.fire({
                            icon: 'error',
                            title: 'Sorry',
                            text: 'This product is already delivered',
                        })

                    }
                    else if(response.invalid){

                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'You have given a wrong input!',
                        })

                    }
                }
        })         
    };
</script>


                    


                    
       
                    
                        
                            

                            

                        



                        


                    
