 <div class="" >
            <h1>admin view all products</h1>

            <div class="col-12 p-4 mt-4" style="background-color: rgb(222, 221, 221); border-radius:4px">

                {{#if productErr}}

                <p class="text-danger">{{productErr}}</p>

                {{/if}}
                

    
    <table id="categoryTable1" class="table table-striped" style="width:100%; font-size:15px !important;">
        <thead style="font-size: 15px;">
            <tr >
                <th>Index</th>
                <th>Name</th>
                <th>image</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Varients</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each productData}}
        <tr>
            <td>{{@index}}</td>
            
            <td>{{this.productName}}
            </td>
            {{#each productVarients}}
            <td><img src="/images/product/productvarients/{{this._id}}_1.png" width="50px" height="50px" alt=""></td>
            {{/each}}
            <td>{{this.category}}</td>
            <td>{{this.subcategory}}</td>
            <td>
                <ul>
                {{#each productVarients}}

                       
                        <li>size:{{this.size}}</li>
                        
                        <li>color:{{this.color}}</li>
                        
                        <li>landing cost:{{this.landingcost}}</li>
                        <li>MRP:{{this.mrp}}</li>
                        <li>Quantity:{{this.quantity}}</li>
                        

               
                

                {{/each}}
                    <a  href="/admin/editProduct?productId={{this._id}}"><i class="fas fa-edit text-center"></i></a>
                </ul>
                
                
            </td>
            <td>

                 <a class="btn" onclick= "deleteproduct('{{this._id}}','{{#each productVarients}}{{this._id}}{{/each}}')"><i class="fas fa-trash text-danger text-center"></i></a>

                 <a href="/admin/editProduct?productId={{this._id}}"><i class="fas fa-edit text-center"></i></a>
            </td>
            
            
        </tr>
        {{/each}}
        </tbody>
        
        

    </table>
            </div>

     
        
        </div>
    </div>
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

      $(document).ready(function() {

      $('#categoryTable1').DataTable(); 

    } )

    function deleteproduct(id,varientId){
    console.log(varientId)
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover data!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url:"/admin/deleteproduct/",
                method:"post",
                data:{id:id,varientId:varientId},
                success:(result)=>{
                    if(result.status){
                     swal("product deleted!", {
                         icon: "success",
                       });
                       location.href="/admin/viewproducts"
                      
         
                    }
                }
                
            })
      }
})};

</script>
