 <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="/stylesheets/userlogin.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: block;
  color: black !important;
  margin: 0;
}
.cartCount{
    border-radius: 2px;
    line-height: 30px;
}
.buttonMinus{
    width: 30px;
    border-radius: 2px;
    border: none;
    color: white;
    padding-top: 3px;
    background-color: rgb(3, 3, 156);
}

</style>

<body>
    <div class="page-wrapper">
        
        <!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-color: white;">
        		<div class="container">
        			<h1 class="page-title" style="font-weight: 500;">Shopping Cart</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            {{!-- <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav --> --}}

            <div class="page-content">
            	<div class="cart">
	                <div class="container p-5 col-12  col-lg-12" style="background-color:  #eeeeee; border-radius: 6px; box-shadow:  0px 0px 50px 2px  rgb(204, 204, 204);">
	                	<div class="row">
                            <div class="col-lg-9">
                                {{#if cartEmpty}}
                                <div class="d-flex justify-content-around" style="height: 100%;background-color: white; border-radius: 4px;">
                                    <div style="display: flex; flex-direction: column; justify-content: center; ">
                                        <div>

                                            <i class="fal fa-cart-plus text-dark" style="font-size: 110px !important;"></i>
                                            <h6 class="text-danger pt-2">Your cart is empty</h6>

                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                            {{!-- <div class="card mb-3" style="max-width: 540px;"> --}}
                                {{#each response}}
                                <div class="row no-gutters mb-3" style="padding:13px 0px 13px 13px ;background-color: white; border-radius:4px">
                                    <div class="col-md-2 ">
                                    
                                    <img src="/images/product/productvarients/{{this.productvarient._id}}_1.png" height="150px" class="card-img" alt="...">
                                    
                                    </div>
                                    <div class="col-md-7">
                                    <div class="card-body">
                                        
                                        <h5 class="card-title">{{this.product.productName}}</h5>
                                        <p class="card-text text-dark">{{this.product.category}} : {{this.product.subcategory}}</p>
                                         
                                        
                                        <p class="card-text text-dark">{{this.productvarient.color}}</p>
                                        <p class="card-text text-dark">₹{{this.productvarient.mrp}}</p>
                                        {{!-- <p class="card-text" ><small class="text-muted" id="mrp">₹{{this.productvarient.mrp}}</small></p> --}}
                                        
                                        
                                    </div>
                                    
                                        <p class="card-text ps-3 pt-2" style="font-weight:500 ; padding:0px;">Total:₹<span id="{{this.productvarient._id}}1">{{this.subTotal}}</span></p>
                                        
                                    
                                    </div>
                                    <div class="col-md-3" >

                                        

                                        <div style="display: flex; ">

                                            <div class=" col-lg-4 " style="">
                                                {{#each productvarient}}
                                                
                                                {{!-- <label class="form-label">Size</label>
                                                <select class="form-select" style="width: 67.6px; padding:4.5px;" name="sizes" id="Psizes">
                                                    <option selected value="2"></option>
                                                </select> --}}
                                                {{/each}}

                                            </div>
                                            <div class=" col-lg-6 p-4" >

                                                <div class="cart-product-quantity ms-1" style="margin-top:-14px">
                                                    <label class="form-label" style="margin-left: 12px;">Quantity</label>
                                                    <div class="d-flex justify-content-center" style=" width:80px; height:30px">
                                                       
                                                            <button class="buttonMinus me-auto" id="buttonMinus2" onclick="countUpdate('{{this._id}}','{{this.productvarient._id}}','{{this.productvarient.quantity}}','{{this.productvarient.mrp}}','{{this.productvarient._id}}1','-{{this.productvarient.mrp}}',-1)">-</button>
                                                            <span  id="{{this.productvarient._id}}" class="cartCount text-center"  style="border-radius: 2px !important; width:30px;">{{this.quantity}}</span>
                                                            <button class="buttonMinus" onclick="countUpdate('{{this._id}}','{{this.productvarient._id}}','{{this.productvarient.quantity}}','{{this.productvarient.mrp}}','{{this.productvarient._id}}1','{{this.productvarient.mrp}}',1)">+</button>
                                                       
                                                    </div>
                                                    {{!-- <input type="number" class="cartCount" style="border-radius: 2px !important ; height:200px; padding:5px !important;"  value="{{this.quantity}}" min="0" max="10" step="1" data-decimals="0" required> --}}
                                                    
                                                </div><!-- End .cart-product-quantity -->
                                                
                                            </div>
                                        </div>
                                            

                                            
                                            
                                            
                                       
                                        <div class="row col-lg-4 mt-4">
                                            <div class="">
                                                
                                                <a onclick="deleteCartItem('{{this.productvarient._id}}')" type="submit"  class="btn btn-primary loginFormButton removebtn" style="background-color: red !important; width:50px; color:white !important ">Remove</a>
                                                
                                            </div>
                                        </div>
                                       
                                         

                                            

                                    </div>
                                </div>
                                {{/each}}
                                {{!-- </div> --}}
                            </div>
	                		
	                		<aside class="col-12 col-lg-3">
	                			<div class="summary summary-cart" style="border: none; background-color: white !important;">
	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
                                    
                                    
                                    
	                				
                                        
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="normalDelivery" id="normalD" name="check" >
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Normal delivery : ₹0
                                                </label>
                                            </div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="radio" value="expressDelivery" id="expressD" name="check" >
                                                <label class="form-check-label"  for="flexRadioDefault2">
                                                    Express delivery : ₹40
                                                </label>
                                            </div>
                                            <span>Total:₹<span id="grandTotal">{{grandTotal}}</span></span>
	                						
                                            <div class="row mt-3">
                                                

                                                <button onclick="toCheckout1()"  class="btn btn-primary loginFormButton   text-white">Proceed To Checkout</button>
                                                
                                            </div>
                                        
	                				
                                
	                			</div><!-- End .summary -->
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    {{!-- <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

  --}}

    <!-- Sign in / Register Modal -->
  

    

    
</body>
{{!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

    function toCheckout1(){
        
        let nCheck  = document.getElementById('normalD').checked
        let eCheck  = document.getElementById('expressD').checked
        let total = document.getElementById('grandTotal').innerHTML
        //console.log(total)
        total = parseInt(total)

        let oldTotal = total;

        if(nCheck&&total!=0){

            $.ajax({
                url:'/checkOut',
                method:'post',
                
                    
                success:(response)=>{
                    
                    location.href = '/checkOut?grandTotal='+total+'&&delivery=normal&&oldTotal='+oldTotal
                    
                }
            })

        }else if(eCheck&&total!=0){

            total = total+40;

            //console.log(total)
            
             $.ajax({

                url:'/checkOut',
                method:'post',
                    
                success:(response)=>{
                    
                   location.href = '/checkOut?grandTotal='+total+'&&delivery=express&&oldTotal='+oldTotal
                    
                }
            })

        }else if(total==0){

            swal("Your cart is empty");

        }else{

            swal("Please select one delivery method!");
        }

    }
        

    let mrp = document.getElementById('mrp').innerHTML
    
    console.log(mrp)

    function deleteCartItem(varientId){
    //console.log(varientId)
    swal({
        title: "Are you sure?",
        text: "You want to remove this from your cart",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url:"/removeCart",
                method:"post",
                data:{productVarientId:varientId},
                success:(result)=>{
                    if(result){

                        swal("Product Removed!", {
                         icon: "success",
                       }).then((result)=>{
                           window.location.reload()
                       })
                        
                    setTimeout(window.location.reload.bind(window.location), 3050);
                    }
                }
                
            })
      }
    })
    }

    function checkOut(grandTotal,cartId){
        
        console.log(cartId)

    }

    function countUpdate(cartId,productId,quantity,mrp,proId,subMrp,count){
        
        subMrp = parseInt(subMrp)
        //console.log(parseInt(grandTotal) )
        mrp = parseInt(mrp)
        quantity = parseInt(quantity);
        count = parseInt(count);
        //console.log(count)
        let currentQuantity = parseInt(document.getElementById(productId).innerHTML);
        let currentGrandTotal = document.getElementById("grandTotal").innerHTML
        currentGrandTotal = parseInt(currentGrandTotal)
        //console.log(value)
        if(currentQuantity <=1 && count==-1){

            document.getElementById('buttonMinus2').setAttribute('disabled')
             
        } else{

            if(currentQuantity>=quantity && count == 1){
                
                 Swal.fire('Out of Stock')

            }else{

                $.ajax({
                    url:'/cartCountUpdate',
                    method:'post',
                    data:{
                        cart:cartId,
                        product:productId,
                        count:count,
                        mrp:subMrp
                    },
                    success:(response)=>{
                        
                        if(response){

                            //window.location.reload()
                            //alert(currentQuantity+count)
                            document.getElementById(productId).innerHTML = currentQuantity + count;
                            document.getElementById(proId).innerHTML = (currentQuantity+count)*mrp;
                            document.getElementById("grandTotal").innerHTML = currentGrandTotal+subMrp;

                        }else{


                        }
                        
                    }
                })
            }

        }

    }
</script>



    

    
    
    
                        

                    
                        
                       

