<h3 class="text-center" style="color: blue;">{{cat}}</h3>
<div class="container mt-5 pt-5">
    {{#if noPro}}

    <div class="row d-flex justify-content-center mt-4">

        <div class="col-lg-4" >
            <div style="background-color: #f9f9fa; height: 50vh; width: 100%; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">
                <h3 class="text-center pt-2" style="font-weight: 300 !important;"></h3>
                <div class="px-5 mt-2 text-center">
                    
                    <i class="fal fa-sad-tear mt-2" style="font-size: 180px; color: rgba(186, 186, 182, 0.435);"></i>
                    <h4 class="mt-3" style="font-weight: 300; color: rgba(255, 0, 0, 0.51);">Sorry products will be added soon</h4>
                   
                </div>
            </div>
        </div>
        
    </div>

    {{else}}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 " >
            <div style="background-color: #f9f9fa; height: 100vh; width: 100%; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">
                <h3 class="text-center pt-2" style="font-weight: 300 !important;">Filters</h3>
                <div class="px-5 mt-2">
                    <h5 style="color: gray;">Categories</h5>
                    
                        {{#each catArray}}
                            <h6><a href="/catProducts?category={{../category}}&subcategory={{this}}">{{this}}</a></h6>
                        {{/each}}
                   
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row d-flex justify-content-center justify-content-md-start" style="height: 100%;background-color: #f9f9fa; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">
                
                {{#each product}}
                <div class=" col-10 col-md-4 col-lg-4 " style=" padding: 1% !important; ">

                    <div class="product product-7 text-center"  style=" background-color: #f9f9fa; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">
                                    <figure class="product-media">
                                        {{#if this.productVarient.oldProPrice}}
                                            <span class="product-label label-new" style="background-color: red !important; border-radius: 2px;">Special Offer</span>
                                        {{else}}
                                        {{#if this.productVarient.oldCatPrice}}
                                            <span class="product-label label-new" style="background-color: red !important; border-radius: 2px;">New Offer</span>
                                        {{/if}}
                                        {{/if}}
                                        <a href="/productDetails?productVerientId={{this.productVarient._id}}">
                                            <img src="/images/product/productvarients/{{this.productVarient._id}}_1.png" alt="Product image" class="product-image" style="width: 100% !important;">
                                        </a>

                                        <div class="product-action-vertical">
                                        <a  onclick="addToWishlist('{{this.productVarient._id}}')" class="btn-product-icon btn-wishlist btn-expandable"><span style="background-color: blue !important;">Add to wishlist</span></a>
                                            {{!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> --}}
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            {{#if ../currentUser}}
                                            
                                            <a  onclick="addToCart('{{this.productVarient._id}}','{{this.productVarient.mrp}}')" class="btn-product"><span>add to cart</span></a>
                                            
                                            {{else}}
                                            <a href="/userLogin" class="btn-product"><span>add to cart</span></a>
                                            {{/if}}
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body" style="background-color: #f9f9fa;">
                                        <div class="product-cat">
                                    <a href="#">{{this.brand}}</a>
                                </div><!-- End .product-cat -->
                                <div class="product-cat">
                                    <a href="#">{{this.productName}}</a>
                                </div>
                                <h3 class="product-title"><a href="product.html">{{this.category}}</a></h3><!-- End .product-title -->
                                
                                  {{#if this.productVarient.oldProPrice}}
                                  <div class="product-price" style="color: blue;">
                                      ₹{{this.productVarient.mrp}}
                                  </div>
                                  <div class="product-price" style="color: blue;">
                                      <s style="text-decoration-thickness: 2px;">₹{{this.productVarient.oldProPrice}}</s>
                                  </div><!-- End .product-price -->

                                  {{else}}
                                  {{#if this.productVarient.oldCatPrice}}
                                  <div class="product-price" style="color: blue;">
                                      ₹{{this.productVarient.mrp}}
                                  </div>
                                  <div class="product-price" style="color: blue;">
                                      <s style="text-decoration-thickness: 2px;">₹{{this.productVarient.oldCatPrice}}</s>
                                  </div><!-- End .product-price -->
                                  {{else}}
                                  <div class="product-price" style="color: blue;">
                                      ₹{{this.productVarient.mrp}}
                                  </div>
                                  {{/if}}
                                  {{/if}}
                                <!-- End .product-price -->
                                        {{!-- <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container --> --}}
                                    </div><!-- End .product-body -->
                        </div><!-- End .product -->




                </div>
                {{/each}}
                {{!-- <div class=" col-10 col-md-4 col-lg-4 " style=" padding: 1% !important; ">

                    <div class="product product-7 text-center"  style="height: 100%; background-color: #f9f9fa; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/products/product-7.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body" style="background-color: #f9f9fa;">
                                        <div class="product-cat">
                                            <a href="#">Jeans</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Blue utility pinafore denim dress</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $76.00
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                        </div><!-- End .product -->




                </div>
                <div class=" col-10 col-md-4 col-lg-4 " style=" padding: 1% !important; ">

                    <div class="product product-7 text-center"  style="height: 100%; background-color: #f9f9fa; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/products/product-7.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body" style="background-color: #f9f9fa;">
                                        <div class="product-cat">
                                            <a href="#">Jeans</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Blue utility pinafore denim dress</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $76.00
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                        </div><!-- End .product -->




                </div>
                <div class=" col-10 col-md-4 col-lg-4 " style=" padding: 1% !important; ">

                    <div class="product product-7 text-center"  style="height: 100%; background-color: #f9f9fa; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/products/product-7.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action-vertical -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body" style="background-color: #f9f9fa;">
                                        <div class="product-cat">
                                            <a href="#">Jeans</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Blue utility pinafore denim dress</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $76.00
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->
                        </div><!-- End .product -->




                </div> --}}
               

            </div>
        </div>
    </div>
    {{/if}}
</div>