<style>
.swal2-popup {
    font-size: 1.6rem;
}

</style>
<section class="mt-0 pt-0 d-flex justify-content-center loginForm" >
        <div class="container cl-10 col-sm-8 col-md-6 col-lg-4 pt-3 mt-2">
             
            <div class="row p-4" style="background-color:  #eeeeee; border-radius: 6px; box-shadow:  0px 0px 50px 2px  rgb(187, 187, 187);">
                {{#each address}}
                <form class="pt-0" id="updateAddress" onsubmit="return submitForm(this)" action="/updateAddress?addressId={{this.address.addressId}}" method="POST">
                   <h3 class="text-center loginTitle mt-1 pb-2 pt-1">Edit Address</h3>
                    
                   
                   
                    <div class="mb-2">
                        <label  class="form-label">House Number/street</label>
                        <input type="text" class="form-control" value="{{this.address.houseNumber}}" name="houseNumber">
                    </div>
                    <div class="mb-2">
                        <label  class="form-label">Locality/city</label>
                        <input type="text" class="form-control" value="{{this.address.locality}}" id="" name="locality">
                    </div>
                    <div class="mb-2">
                        <label  class="form-label">District</label>
                        <input type="text" class="form-control" value="{{this.address.district}}" name="district">
                    </div>
                    <div class="row mb-0">
                       <div class=" col-lg-6">
                        <label class="form-label">State</label>
                        <input type="text" class="form-control text" value="{{this.address.state}}"  name="state" >
                        
                    </div>
                    <div class=" col-lg-6">
                        <label class="form-label">Pincode</label>
                        <input type="text" class="form-control text" id="pincode" value="{{this.address.pincode}}" name="pincode" >
                    </div>
                   {{!-- <div id="emailHelp" class="form-text ps-3" style="margin-top: -7px; margin-bottom:7px;">We'll never share your personal data with anyone else.</div> --}}
                    </div>
                    {{/each}}
                    {{#if addressUpdateErr1}}
                    <p  class="text-danger text-center mb-1">Same already exist</p>
                    {{/if}}
                    <div class="cl-lg-4 text-center mb-2 mt-2">
                        <button type="submit" class="btn btn-primary loginFormButton">Add</button>
                    </div>
                    
                  </form>
            </div>
        </div>
    </section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="/javascripts/updateAddress.js"></script>