<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<link rel="stylesheet" href="/stylesheets/userProfile.css">
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                  
                            
<style>
.proPicDiv {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  
}

.proPicDiv:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.swal2-popup {
font-size: 1.6rem;
}

</style>

                   
<div class="page-content page-container mt-5 pt-5" id="page-content">
    <div class="padding d-flex justify-content-center">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-9 col-md-12">
                
                <h3 class="m-b-20 p-b-5   text-center"  >Edit profile</h3>
                <div class="card user-card-full">
                    <form id="profile" enctype="multipart/form-data" method="post" action="/profileEdit">

                   
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile d-flex justify-content-center">
                            <div class="card-block text-center text-white">
                             
                                <div style="display: flex; flex-direction: column; ">
                                   
                                    {{#if imageDeleted}}
                                        <p id="imageDeleted"></p>
                                    {{/if}}

    
                                
                                    <div class="col-12">
                                        <div id="proImage" style="width: 250px; height: 250px; display: none;"></div>
                                        <button class="btn btn-primary mt-3" type="button" style="display: none;"
                                            id="proCrop">Crop</button>
                                    </div>
                                    {{#if noProPic}}

                                        <img class="ms-auto me-auto mb-3 "  src="../images/abstract-user-flat-1.svg" alt="" style="border-radius: 50%; object-fit: cover;height: 90px; width: 90px; background-color: white;" id="proImageView">

                                    {{/if}}
                                    <div class="proPicDiv">
                                   


                                    {{#if ProPic}}

                                    <img class="ms-auto me-auto mb-3 image"  src="http://18.216.136.74/../images/userProfile/{{user1._id}}.jpg" alt="" style="border-radius: 50%; object-fit: cover;height: 90px; width: 90px;" id="proImageView">

                                    <div class="overlay">
                                    <a href="/deleteProPic" class="icon"><i class="fas fa-trash-alt" style="color: red;"></i></a> 

                                    </div>
                                    {{/if}}
                                    {{!-- <div id="preview1"></div> --}}

                                   </div>


                                    <input type="file" name="proImage" id="filePro" style="height: 25px; width: 190px; border: none;" class="form-control"
                                        onchange="return profilePic()">

                                    <h6 class="f-w-600 text-white">{{user1.first_name}} <span>{{user1.lastname}}</span> </h6>
                                    <a href="/changePassword" class="text-white">Change Password</a>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 p-3">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Profile</h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600" style="line-height: 40px;">Email:</p>
                                        
                                        <input class="form-control" value="{{user1.email}}" style="width: 100%; background-color: rgb(238, 238, 238);" type="text" name="email" id="email">
                                    </div>
                                    <div class="col-sm-12 ">
                                        <p class="m-b-10 f-w-600" style="line-height: 40px;">First name</p>
                                        
                                        <input class="form-control" value="{{user1.first_name}}" style=" width: 100%; background-color: rgb(238, 238, 238);" type="text" name="first_name" id="first_name">
                                    </div>
                                     <div class="col-sm-12 ">
                                        <p class="m-b-10 f-w-600" style="line-height: 40px;">Lsst name</p>
              
                                        <input class="form-control" value="{{user1.lastname}}" style=" width: 100%; background-color: rgb(238, 238, 238);" type="text" name="lastname" id="lastname">
                                    </div>
                                </div>
                            </div>
                            <div class="cl-lg-4 text-center mb-0">
                                <button type="submit" class="btn btn-primary loginFormButton" style="pointer-events: ;" id="confirm-btn">Update</button>
                            </div>
                    </form>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>

    if(document.getElementById('imageDeleted')){
        
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
            })

            Toast.fire({
            icon: 'success',
            title: 'Profile picture deleted successfully'
            })

    }
    
      $("#profile").validate({
        
        rules:{
           
            email:{
                required:true
            },
            first_name:{
                required:true
            },
            lastname:{
                required:true
            }
        }

    })

    function profilePic(){

    const imagebox = document.getElementById('proImage')
    const crop_btn = document.getElementById('proCrop')
    var fileInput = document.getElementById('filePro');

    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg)$/i;
    if (!allowedExtensions.exec(filePath)) {
        alert('Please upload file having extensions .jpeg only.');
        fileInput.value = '';
        return false;
    } else {
        //Image preview
        const img_data = fileInput.files[0]
        const url = URL.createObjectURL(img_data)
        imagebox.innerHTML = `<img src="${url}" id="proPic" style="width:100%; border-radius:500%">`
        const image = document.getElementById('proPic')
        document.getElementById('proImage').style.display = 'block'
        document.getElementById('proCrop').style.display = 'block'
        document.getElementById('confirm-btn').disabled = true

        const cropper = new Cropper(image,{
            autoCropArea: 1,
            viewMode: 1,
            scalable: true,
            zoomable: true,
            movable: true,
            aspectRatio: 16/19,
            //  preview: '.preview',
            minCropBoxWidth: 180,
            minCropBoxHeight: 240,

        })
        crop_btn.addEventListener('click', () => {
            cropper.getCroppedCanvas().toBlob((blob) => {
                let fileInputElement = document.getElementById('filePro');
                let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                let container = new DataTransfer();

                container.items.add(file);
                const img = container.files[0]
                var url = URL.createObjectURL(img)
                fileInputElement.files = container.files;
                document.getElementById('proImageView').src = url
                document.getElementById('proImage').style.display = 'none'
                document.getElementById('proCrop').style.display = 'none'
                document.getElementById('confirm-btn').disabled = false
            },'image/webp', 0.5);
        })
    }
}
</script>
