<h3 class="text-center" style="color: blue;">wishlist</h3>

<div class="container">
    <div class="row d-flex justify-content-center">

        
        {{#if response}}
            {{#each response}}
            <div class=" col-10 col-md-4 col-lg-3 " style=" padding: 1% !important; ">
            <div class="product product-7 text-center " style="height: 100%; background-color: #f9f9fa; border-radius:px;box-shadow:  0px 0px 19px 3px  rgb(220, 220, 220)">

            <figure class="product-media" >
               
                    {{#if this.productVarient.oldProPrice}}
                        <span class="product-label label-new" style="background-color: red !important; border-radius: 2px;">Special Offer</span>
                    {{else}}
                    {{#if this.productVarient.oldCatPrice}}
                        <span class="product-label label-new" style="background-color: red !important; border-radius: 2px;">New Offer</span>
                    {{/if}}
                    {{/if}}
               
                <a href="/productDetails?productVerientId={{this.productVarient._id}}">
                    <img src="/images/product/productvarients/{{this.productVarient._id}}_1.png" alt="Product image" class="product-image" style="width: 100% !important;">
                </a>

                <div class="product-action-vertical">
                    <a onclick="removeFromWish('{{this.productVarient._id}}')" class="btn-product-icon btn-wishlist btn-expandable"><span style="background-color: blue !important;">Remove from wishlist</span></a>
                    {{!-- <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a> --}}
                </div><!-- End .product-action-vertical -->

                <div class="product-action">
                    <a  onclick="addToCart('{{this.productVarient._id}}','{{this.productVarient.mrp}}')" class="btn-product"><span>add to cart</span></a>
                </div><!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body" style="background-color: #f9f9fa;">
                <div class="product-cat">
                    <a href="#">{{this.coreProducts.brand}}</a>
                </div><!-- End .product-cat -->
                <div class="product-cat">
                    <a href="#">{{this.coreProducts.productName}}</a>
                </div><!-- End .product-cat -->
                <h3 class="product-title"><a href="product.html">{{this.coreProducts.category}}</a></h3><!-- End .product-title -->
                {{#if this.productVarient.oldProPrice}}
                    <div class="product-price" style="color: blue;">
                        ₹{{this.productVarient.mrp}}
                    </div>
                    <div class="product-price" style="color: blue;">
                        <s style="text-decoration-thickness: 2px;">₹{{this.productVarient.oldProPrice}}</s>
                    </div><!-- End .product-price -->
                {{else}}
                {{#if this.productVarient.oldCatPrice}}
                    <div class="product-price" style="color: blue;">
                        ₹{{this.productVarient.mrp}}
                    </div>
                    <div class="product-price" style="color: blue;">
                        <s style="text-decoration-thickness: 2px;">₹{{this.productVarient.oldCatPrice}}</s>
                    </div><!-- End .product-price -->
                {{else}}
                    <div class="product-price" style="color: blue;">
                        ₹{{this.productVarient.mrp}}
                    </div>
                {{/if}}
                {{/if}}
                {{!-- <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                    </div><!-- End .ratings --> --}}
                    {{!-- <span class="ratings-text">( 6 Reviews )</span> --}}
                {{!-- </div><!-- End .rating-container --> --}}
            </div><!-- End .product-body -->
            </div><!-- End .product -->
            </div>
            {{/each}}
        
        {{else}}
       
        <h1>No Items in your wishlist</h1>
        
        {{/if}}

    </div>

</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>                    
<script>
    function removeFromWish(productId){
        //console.log(productId)
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({

                    url:'/removeFromWishlist',
                    method:'post',
                    data:{productId:productId},
                    success:(response)=>{


                        if(response.valid){

                            
                            Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                            ).then((ok)=>{
                                
                                window.location.reload()

                            })


                        }

                    }

                })

            }
        })

    }
</script>

                        

                       
                      
